* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-drag: none;
}
.Showcase {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    width: 200px;
}
h1 {
    color: 000000;
    font-size: 3rem;
    font-family: 'Montserrat Alternates', sans-serif;
}
p {
    color: green;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
}

#city {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 600px;
}
#forrest {
    position: absolute;
    bottom: 0;
    right: 100px;
    width: 300px;
    height: 325px;
}
#cloud-left {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 250px;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}
#cloud-right {
    position: absolute;
    top: 70px;
    right: 100px;
    width: 300px;
}